@font-face {
  font-family: "SF Pro Text";
  src: url("/my-momentum-app/fonts/SanFranciscoProText/SFProText-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/my-momentum-app/fonts/SanFranciscoProText/SFProText-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/my-momentum-app/fonts/SanFranciscoProDisplay/SF-Pro-Display-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/my-momentum-app/fonts/SanFranciscoProDisplay/SF-Pro-Display-Bold.otf");
  font-weight: 700;
}
